<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>Indy's Page</title>

  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" href="/static/favicon.ico">

  <script src="/static/htmx.min.js"></script>
  <script src="/static/hyperscript.min.js"></script>

  <meta name="description" content="silly website">
  <meta name="author" content="Indy Paige">
</head>

<body>
  <header>
    <h1>{{ .name }}</h1>
  </header>

  <div class="layout">
    <main class="content">
      <section class="box">
        <ul class="nodec">
          {{ range .images }}
          <li>
            <img src="{{ .path }}"
                 class="thumbnail"
                 height="160"
                 width="120"
                 data-desc="{{ .desc }}"
                 hx-get="hx/modal"
                 hx-target="body"
                 hx-swap="beforeend"
                 hx-trigger="click"
                 _="on click
                    set $modalDesc to my @data-desc
                    set $modalImag to my @src
                    end
                 ">
          </li>
          {{ end }}
        </ul>
      </section>
    </main>

    <aside class="sidebar" hx-get="/hx/links" hx-trigger="load"></aside>
  </div>

  <div hx-get="/hx/footer" hx-swap="outerHTML" hx-trigger="load"></div>
</body>
</html>
